# Netflix Analysis 
### Goal 1: To visualise the most popular actors based on the IMDB ratings
### Goal 2: To visualise the most popular genres through the years
### Goal 3: To see if there is a relationship between runtime and ratings

In [1]:
# importing all necessary packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# importing the two datasets

credits = pd.read_csv('credits.csv')
title = pd.read_csv('titles.csv')

In [3]:
# merge the two datasets
df = pd.merge(credits, title)

In [4]:
# creating a new dataframe for Goal #1

imdb_name_df = df.groupby('name').agg({'imdb_score': ['mean', 'min', 'max']})
tmdb_name_df = df.groupby('name').agg({'tmdb_score': ['mean', 'min', 'max']})

In [5]:
# Confirming that this works, and manually calculating based on the data frame

print (imdb_name_df[imdb_name_df.index.str.startswith('Leonardo DiCaprio')])
print (tmdb_name_df[tmdb_name_df.index.str.startswith('Leonardo DiCaprio')])

                  imdb_score
                        mean  min  max
name
Leonardo DiCaprio   7.666667  6.5  8.8
                  tmdb_score
                        mean  min  max
name
Leonardo DiCaprio   7.383333  6.5  8.4

In [6]:
# Confirmed by manual counting

df.loc[df['name'] == 'Leonardo DiCaprio']

,person_id,id,name,character,role,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
1724,1641,tm11556,Leonardo DiCaprio,Fee Herod 'The Kid',ACTOR,The Quick and the Dead,MOVIE,A mysterious woman comes to compete in a quick...,1995,R,107,"['western', 'thriller', 'action', 'romance']","['US', 'JP']",NaN,tt0114214,6.5,92224.0,17.543,6.5
4829,1641,tm92641,Leonardo DiCaprio,Dom Cobb,ACTOR,Inception,MOVIE,"Cobb, a skilled thief who commits corporate es...",2010,PG-13,148,"['scifi', 'music', 'thriller', 'action']","['GB', 'US']",NaN,tt1375666,8.8,2268288.0,109.090,8.4
7023,1641,tm32919,Leonardo DiCaprio,Danny Archer,ACTOR,Blood Diamond,MOVIE,An ex-mercenary turned smuggler. A Mende fishe...,2006,R,143,"['thriller', 'drama']","['US', 'DE']",NaN,tt0450259,8.0,536858.0,40.209,7.5
8455,1641,tm36188,Leonardo DiCaprio,Roger Ferris,ACTOR,Body of Lies,MOVIE,The CIA’s hunt is on for the mastermind of a w...,2008,R,128,"['drama', 'action', 'thriller']","['GB', 'US']",NaN,tt0758774,7.1,224896.0,16.693,6.6
13666,1641,tm41792,Leonardo DiCaprio,Calvin J. Candie,ACTOR,Django Unchained,MOVIE,"With the help of a German bounty hunter, a fre...",2012,R,165,"['western', 'drama']",['US'],NaN,tt1853728,8.4,1472668.0,56.588,8.1
66332,1641,tm856378,Leonardo DiCaprio,Dr. Randall Mindy,ACTOR,Don't Look Up,MOVIE,Two low-level astronomers must go on a giant m...,2021,R,138,"['scifi', 'drama', 'comedy']",['US'],NaN,tt11286314,7.2,498447.0,115.376,7.2

In [7]:
imdb_name_df

                    imdb_score
                          mean  min  max
name
 Michael Hayden            6.9  6.9  6.9
'Jeeva' Ravi               7.7  7.7  7.7
'Weird Al' Yankovic        6.5  5.2  7.8
21 Savage                  4.3  4.3  4.3
2Mex                       6.3  6.3  6.3
...                        ...  ...  ...
정봉주                        8.6  8.6  8.6
조경이                        NaN  NaN  NaN
주둥닝                        8.0  8.0  8.0
지뢰                         7.4  7.4  7.4
허윤무                        8.6  8.6  8.6

[53687 rows x 3 columns]